@model List<Testimonial>
 <div id=testimonial class="s-testimonials">

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">İnsanlar Ne Dedi</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">
                @foreach (var item in Model)
            {
                <div class="testimonials__slide">
                    <img src="@item.TestimonialImageUrl" alt="@item.TestimonialNameSurname" class="testimonials__avatar">
                    <p> @item.TestimonialDescription </p>
                    <div class="testimonials__author h06">
                        @item.TestimonialNameSurname
                        <span>@item.TestimonialTitle</span>
                    </div>
                </div>
            }


            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </div>