@model Message
@{
    ViewData["Title"] = "OpenMessage";
    Layout = "~/Views/Layout/Index.cshtml";
}
<input type="hidden" asp-for="MessageID"/>
<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Gelen Kutusu</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">@Model.MessageNameSurname 'in Gönderdiği Mesaj</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							<b>Göderen</b> @Model.MessageNameSurname <br />
							<b>Email</b> @Model.MessageEmail <br /><br />
							 @Model.MessageDetails <br /><br />
							 @Model.MessageSendDate
						</div>
					</div>
					
				</div>

			</div>
		</div>
		<a class="btn btn-info" href="/MessageOperations/MassegeInBox">Geri Dön</a>
	</div>
</div>
