@model List<MyPortfolio>
<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyo</h3>
            <h1>Son Projelerime Göz At</h1>

            <p class="lead">Son projelerimin bir kaç görselini bıraktım. İnceleyebilirsiniz.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach (var item in Model)
            {
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="@item.MyPortfolioImageUrl" class="thumb-link" title="@item.MyPortfolioTitle" data-size="1050x700">
                                <img src="@item.MyPortfolioImageUrl"
                                     srcset="@item.MyPortfolioImageUrl 1x, @item.MyPortfolioImageUrl 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.MyPortfolioTitle
                            </h3>
                            <p class="item-folio__cat">
                                @item.MyPortfolioSubTitle
                            </p>
                        </div>

                        <a href="@item.MyPortfolioUrl" class="item-folio__project-link" title="Project link">
                            <i class="im im-link"></i>
                        </a>

                        <div class="item-folio__caption">
                            <p>@item.MyPortfolioDescription</p>
                        </div>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->
            }


        </div>
    </div> <!-- end masonry -->

</section>